script(src='lib/jquery/jquery.min.js').
script(src='lib/angular/angular.min.js').
script(src='lib/angular-cookies/angular-cookies.min.js').
script(src='lib/angular-resource/angular-resource.min.js').
script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js').
script(src='lib/angular-route/angular-route.min.js').
script(src='js/app.js').
script(src='js/config.js').
script(src='js/directives.js').
script(src='js/filters.js').

script(src='js/services/global.js').
script(src='js/services/nfl.js').
script(src='js/services/leagues.js').
script(src='js/services/fantasyteams.js').
script(src='js/services/players.js').

script(src='js/controllers/index.js').
script(src='js/controllers/header.js').
script(src='js/controllers/nfl.js').
script(src='js/controllers/leagues.js').
script(src='js/controllers/fantasyteams.js').
script(src='js/controllers/players.js').

script(src='js/init.js').